[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=alex
Group=alex

WorkingDirectory=/home/art/forward/
Environment="PYTHONPATH=/home/art/forward/"
ExecStart=/home/alex/forward/.venv/bin/python /home/alex/forward/forwardgram.py /home/alex/forward/config.yml-sample

[Install]
WantedBy=multi-user.target
