[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=first
Group=first

WorkingDirectory=/home/first/forward/
Environment="PYTHONPATH=/home/first/forward/"
ExecStart=/home/first/forward/.venv/bin/python /home/first/forward/forwardgram.py /home/first/forward/config.yml-sample

[Install]
WantedBy=multi-user.target
